.name span {
    position: relative;
    font-size: 30px;
    letter-spacing: 5px;
    color: #2196f3;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes animate {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    1%,
    92% {
        color: #2196f3;
        text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #2196f3;
        box-shadow: 0 0 10px #2196f3,
            0 0 20px #2196f3,
            0 0 40px #2196f3,
            0 0 80px #2196f3,
            0 0 160px #2196f3;
    }
}

.button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.button1:hover {
    color: #fff;
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}